* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

#welcomeGift1 {
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 85;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
}


/*Con min-width, móvil primero y con max-width, de escritorio primero.*/

#words-Welcome {
    width: 30em;
    color: wheat;
    font-size: 2vw;
    text-align: center;
    margin: 0 0 8% 2em;
    padding-right: 5em;
    letter-spacing: 0.1em;
    text-shadow: 0.0625rem 0.625rem 1.875rem #fff017;
}

#button-welcome {
    color: #2196f3;
    transition: 0.2s;
    overflow: hidden;
    font-size: 1.5rem;
    margin-left: 17em;
    position: relative;
    letter-spacing: 4px;
    text-decoration: none;
    display: inline-block;
    padding: 0.9375rem 1.875rem;
    border: 0.125rem solid black;
}

.js-focus-visible {
    background-size: cover;
    background-image: url(assets/background1.jpg);
}

#button-welcome>span {
    display: block;
    position: absolute;
}

#button-Welcome>span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

#black a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

#black>a>span:nth-child(3) {
    bottom: 0;
    width: 100%;
    height: 2px;
    right: -100%;
    background: linear-gradient(270deg, transparent, #2196f3);
}

#black a:hover span:nth-child(3) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#black>a>span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100px;
    background: linear-gradient(180 deg, transparent, #2196f3);
}

#black a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#black>a>span:nth-child(4) {
    left: 0;
    width: 2px;
    bottom: -100%;
    height: 100px;
    background: linear-gradient(360 deg, transparent, #2196f3);
}

#black a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#img-lol {
    width: 40%;
    margin: 2em 0 0 9em;
}

#img-list {
    width: 40em;
    height: auto;
    display: block;
    position: cover;
    margin-left: 0 auto 40px auto;
}

#generalContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(assets/background1.jpg);
    box-shadow: inset 0 0 0 1000px rgba(42, 42, 78, 0.671);
    /*esto es para hacerlo responsive :) */
    width: 100%;
    margin: auto;
    height: 100%;
    display: none;
    background-position: center;
    /*PROPIEDADES FLEX*/
    z-index: -1;
    display: flex;
    display: none;
    flex-flow: column wrap;
}

header {
    z-index: 3;
    width: 100%;
    height: 100%;
}

#logo_Lol {
    z-index: 2;
    width: 20em;
    height: auto;
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
}

#logo {
    display: grid;
    grid-auto-rows: auto;
    justify-items: center;
}

#buttons_colection_champions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: space-between;
}

#button_colection,
#contador {
    width: 15em;
    height: 2em;
    outline: none;
    font-size: 1.5em;
    color: #e2eaf5;
    margin: 0 6% 0 6%;
    border-radius: 2em;
    border-width: 0.5rem;
    border-style: double;
    border-color: #282626;
    background-color: #b09d57;
    font-family: 'Shadows Into Light', cursive;
}

#contador {
    padding: 0.1em;
    text-align: center;
}

#detail_logo {
    border: 2px solid black;
}

.detail_diamont_Riot,
#detail_diamont_Riot {
    width: 100%;
    height: auto;
    padding-right: 80px;
}

#detail_diamont_Riot2 {
    width: auto;
    height: 50%;
}

.buscadores {
    top: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    position: sticky;
    margin-top: 1% 0 4% 0;
}

#menu {
    display: none;
}

ul,
li {
    list-style: none;
}

.filtros {
    top: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filtros li a {
    padding: 0.2em;
    display: block;
    width: 17.1rem;
    margin-top: 4%;
    font-size: 1rem;
    border-width: 8px;
    color: aliceblue;
    border-style: double;
    text-decoration: none;
    border-color: #b09d57;
    background-color: #464242;
}

.filtros li a:hover {
    border-radius: 2em;
    background: #316a99;
    background-color: gray;
    box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94;
}

#habilidad_popular,
#searchTexto,
#button_colection,
#contador {
    padding: 4px 0;
    text-transform: capitalize;
    border-style: double;
    transition: 0.5s ease-out;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#habilidad_popular:hover,
#searchTexto:hover,
#button_colection:hover,
.filtros>li:hover {
    background: #316a99;
    border-bottom: 10px solid rgb(131, 135, 138);
    box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94;
}

.filtros>li {
    float: left;
    width: 20em;
    height: 2.6em;
    font-size: 20px;
    color: #e2eaf5;
    border-width: 8px;
    text-align: center;
    border-style: double;
    transition: 0.7s ease-out;
    background-color: #b09d57;
    border: 8px solid #464242, 8px solid #b09d57;
}

#searchTexto {
    float: left;
    width: 15em;
    height: 2.5em;
    outline: none;
    border-radius: 0;
    margin-left: 7px;
    font-size: 1.2em;
    color: #464242;
    border-width: 8px;
    text-align: center;
    border-style: double;
    letter-spacing: 0.1em;
    background-size: 35px;
    padding: 0.5% 0 0 35px;
    background-color: #B09D57;
    background-repeat: no-repeat;
    background-position: 38px 3px;
    border: 8px solid #464242, 8px solid #b09d57;
    background-image: url(./assets/iconfinder_Search.png);
}

#habilidad_popular {
    float: left;
    width: 20em;
    display: none;
    height: 2.6em;
    font-size: 20px;
    color: #e2eaf5;
    padding-top: 0.5%;
    border-width: 8px;
    text-align: center;
    border-style: double;
    transition: 0.7s ease-out;
    background-color: #b09d57;
    border: 8px solid #464242, 8px solid #b09d57;
    animation: signal 1s infinite;
}

@keyframes signal {
    0% {
        box-shadow: 0 0 0 0 #b09d57;
    }
    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

.filtros li ul {
    display: none;
    position: absolute;
    /*la lista desplegable es de la misma medida que el botón*/
}

.filtros li:hover>ul {
    display: block;
}

.main {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -180px center;
}

#root {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    color: #dfc981;
}

.divChampion {
    display: flex;
    align-items: flex-end;
    width: calc(30% - 1rem);
    height: 250px;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -180px center;
}

#newSpace {
    border: 2px solid black;
    background-color: yellowgreen;
}

.nameOfChampion {
    flex: 1;
    height: 1.5rem;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: #b09d57;
}

.imageOfChampion {
    width: 95%;
    z-index: -1;
    height: 20em;
    border: 2px #b09d57 solid;
}

#root:hover .imageOfChampion {
    z-index: -2;
    transform: perspective(500px) rotateY(30deg);
}

#root .imageOfChampion:hover {
    z-index: -2;
    transform: perspective(250px) rotateY(0deg);
}

.tagsOfChampion {
    flex: 1;
    height: 1.5rem;
    color: white;
    font-size: 20px;
    text-align: center;
    align-content: center;
    background-color: #c59a3e;
}

.imageChampion {
    width: 95%;
    float: right;
    height: 19rem;
    border-radius: 23px;
    border-color: currentColor;
}

.infoChampion {
    height: 3rem;
    color: #ffbf00;
    font-size: larger;
    position: absolute;
    text-align: center;
    margin: 25% 2% 0 0;
    align-content: right;
    overflow-wrap: normal;
    font-family: 'Shadows Into Light', cursive;
}

#returnMain {
    display: none;
}

#graphicChart {
    width: 600px;
    display: none;
    height: 400px;
    margin-left: 50%;
}

#calculationGraph {
    height: 400px;
    margin-top: -300px;
    width: content-box;
}

canvas {
    height: 500px;
}


/* Chart.js */

@keyframes chartjs-render-animation {
    from {
        opacity: .99
    }
    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms
}

;
.infoOfChampion {
    width: 95%;
    color: white;
    height: 1.5rem;
    font-size: 20px;
    margin-bottom: 10%;
    text-align: center;
    align-content: center;
    padding: 0 0 4em 1.4em;
    background-color: #b09d57;
}

footer {
    border: 2px solid black;
    font-family: "Righteous", cursive;
    background-color: rgb(11, 11, 3);
}

#play_links {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align-last: end;
    padding: 5% 20% 0 20%;
}

#img_Riot {
    width: 50%;
    height: auto;
}

#img_ratings {
    width: 40%;
    height: auto;
}

#final_information {
    font-size: 11px;
    color: #7e7e7e;
    line-height: 200%;
    text-align: center;
    font-family: "Righteous", cursive;
}

#gitHub {
    width: auto;
    height: 50px;
    align-items: center;
    background-color: #b09d57;
}

#gitHub>a>img {
    width: 50px;
    height: 50px;
    background-color: #b09d57;
    border: 1px solid #b09d57;
}

#final_conditions>a {
    color: #7e7e7e;
}

#final_conditions>a:hover {
    color: gold;
}

@media only screen and (max-width: 375px) {
    #graphicChart {
        display: none;
    }
    #button-welcome {
        width: 220px;
        height: 31, 2px;
        padding-top: 1px;
        margin: 0.125rem 0 1.375rem 1em;
    }
    #welcomeGift1 {
        top: 50%;
        left: 50%;
        z-index: -1;
        opacity: 85;
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
    }
    /*Con min-width, móvil primero y con max-width, de escritorio primero.*/
    #words-Welcome {
        width: 300px;
        font-size: 20px;
        padding-right: 0em;
        text-align: center;
        margin: 90px 0 0 0.5em;
    }
    #img-lol {
        width: 80%;
        margin: 0 0 3.125rem 0.8em;
    }
    #img-list {
        width: 340px;
        height: auto;
        padding-right: 1.875rem;
        margin: 15% 0 3.75rem 0;
    }
    #logo_Lol {
        width: 7em;
        height: auto;
        position: fixed;
        padding-bottom: 2em;
        margin: 1em 0 0.3125rem 40%;
        justify-content: center;
    }
    #root {
        padding-left: 8%;
    }
    #contador {
        width: 160px;
        border-radius: 0;
        color: #e2eaf5;
        margin: 0 0 0 0.5rem;
        border: 0.125rem solid #b09d57, transparent;
        background: linear-gradient(#5a5f2f, #122230);
    }
    #button_colection {
        width: 120px;
        border-radius: 0;
        color: #e2eaf5;
        margin: 0 0 0 2.8125rem;
        border: 0.125rem solid #b09d57, transparent;
        background: linear-gradient(#5a5f2f, #122230);
    }
    #buttons_colection_champions {
        height: 30%;
        width: 100%;
        position: fixed;
        font-size: 0.7em;
        justify-content: end;
        padding: 23% 0 1.25rem 5%;
        background: linear-gradient(#122230, #5a5f2f);
    }
    .filtros {
        position: fixed;
        margin-top: 23%;
        flex-wrap: inherit;
        justify-content: center;
    }
    .filtros>li {
        width: 110px;
        border-radius: 0;
        font-size: 0.9em;
        color: #e2eaf5;
        margin: 3.125rem 0 0 1.3125rem;
        background: linear-gradient(#5a5f2f, #122230);
        border: 0.125rem solid #b09d57, transparent;
    }
    #role {
        width: 110px;
    }
    #order {
        width: 110px;
        margin-left: -0.3125rem;
    }
    #searchTexto {
        width: 8px;
        color: #122230;
        font-size: 0.9em;
        padding-left: 2.1875rem;
        background-size: 1.4375rem;
        background-repeat: no-repeat;
        margin: 0 -13.125rem 0 1.25rem;
        border: 0.125rem solid #b09d57, transparent;
        background: linear-gradient(#5a5f2f, #122230);
        background-image: url(./assets/iconfinder_Search.png);
    }
    #searchTexto:focus {
        width: 190px;
        background-color: rgb(227, 240, 240);
    }
    #detail_diamont_Riot {
        width: 100%;
        height: 2em;
        margin-top: 40%;
        padding-right: 5rem;
    }
    #habilidad_popular {
        float: left;
        width: 120px;
        height: 2.5em;
        border-radius: 0;
        color: #e2eaf5;
        font-size: 0.92em;
        border-width: 0.5rem;
        text-align: center;
        padding: 2% 0.5rem 0 0;
        border-style: double;
        margin: 3.125rem 1.875rem 0 0;
        border-color: #282626;
        border: 0.125rem solid #b09d57, transparent;
        background: linear-gradient(#5a5f2f, #122230);
    }
    #gitHub {
        width: auto;
        height: 30px;
    }
    #gitHub>a>img {
        width: 50px;
        height: 30px;
    }
    #final_information {
        font-size: 0.5625rem;
        color: #7e7e7e;
        line-height: 200%;
    }
    .detail_diamont_Riot {
        width: 100%;
        height: 25px;
        padding-right: 1.875rem;
    }
    #play_links {
        padding: 0 0 0 3%;
    }
    footer {
        border: 0;
        padding-top: 0.5rem;
        background: linear-gradient(#5a5f2f, #122230);
    }
    .filtros li a {
        font-size: 0.7rem;
        width: 8rem;
    }
    #habilidad_popular a {
        font-size: 0.7rem;
        width: 7rem;
        float: right;
    }
    .imageOfChampion {
        height: 17em;
    }
}