* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*asegura que el relleno y el borde estén incluidos en el ancho y alto del total de la caja, así cuando se pone float ese borde es considerado para ser ubicado a la derecha*/
}
 
html,
body {
  font-family: 'Shadows Into Light', cursive;
}

#welcomeGift1 {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top : 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  opacity: 85;
}

/*Con min-width, móvil primero y con max-width, de escritorio primero.*/
#words-Welcome {
  font-size: 2vw;
  width: 30em;
  margin-left: 2em;
  padding-right: 5em;
  text-align: center;
}
#words-Welcome{
  text-shadow: 1px 10px 30px #fff017;
  margin-bottom: 8%;
  letter-spacing: 0.1em;
  color: wheat;
}
#button-welcome {
  position: relative;
  display: 	inline-block;
  padding: 15px 30px;
  color: #2196f3;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  transition: 0.2s;
  margin-left: 17em;
  overflow: hidden;
  border: 2px solid black;
}

/* #black > a:hover{
  color: rgb(156, 97, 30);
  background: seashell;
  box-shadow: 0 0 0 10px seashell, 0 0 0 20px seashell, 0 0 0 30px seashell;
  transition-delay: 0.2s;
} */

#button-welcome > span {
  position: absolute;
  display: block;
}

#button-Welcome > span:nth-child(1){
top:0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg,transparent,#2196f3);
}

#black a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

#black > a > span:nth-child(3){
  bottom:0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
  }
#black a:hover span:nth-child(3){
  left: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#black > a > span:nth-child(2){
  top:-100%;
  right: 0;
  width: 2px;
  height: 100px;
  background: linear-gradient(180 deg,transparent,#2196f3);
}
#black a:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#black > a > span:nth-child(4){
  bottom:-100%;
  left: 0;
  width: 2px;
  height: 100px;
  background: linear-gradient(360 deg,transparent,#2196f3);
}
#black a:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;

}


#img-lol {
  margin-top: 2em;
  width: 40%;
  margin-left: 9em;
}

#img-list{
  width: 40em;
  height: auto;
  margin-bottom: 40px;
  display: block;
  position: cover;
  margin-left: auto;
  margin-right: auto;
}

#generalContainer {
  background-image: url(assets/background1.jpg);
  box-shadow: inset 0 0 0 1000px rgba(42, 42, 78, 0.671);
  /* background-color: cornsilk; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */
  /*esto es para hacerlo responsive :) */
  background-position: center;
  height: 100%;
  width: 100%;
  margin: auto;
  display: none;
  /*PROPIEDADES FLEX*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
  z-index: -1;
}


header {
  height: 100%;
  width: 100%;
  z-index: 3;
}

#logo_Lol {
  margin-top: 0;
  padding-top: 0;
  width: 20em;
  justify-content: center;
  height: auto;
  z-index: 2;
}

#logo {
  grid-auto-rows: auto;
  display: grid;
  justify-items: center;
}

#buttons_colection_champions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-bottom: 19px;
}

#button_colection,
#contador {
  background-color: #b09d57;
  font-family: 'Shadows Into Light', cursive;
  outline: none;
  width: 15em;
  height: 2em;
  border-radius: 2em;
  font-size: 1.5em;
  color: #e2eaf5;
  border-style: double;
  border-width: 8px;
  border-color: #282626;
  margin-left: 6%;
  margin-right: 6%;
}

#contador {
  padding: 0.1em;
  text-align: center;
}
#detail_logo {
  border: 2px solid black;
}

.detail_diamont_Riot,#detail_diamont_Riot  {
  width: 100%;
  height: auto;
  padding-right: 80px;
}

#detail_diamont_Riot2 {
  width: auto;
  height: 50%;
}
.buscadores {
  margin-top: 1%;
  margin-bottom: 4%;
  width: 100%;
  height: 80%;
  padding: 0;
  position: sticky;
  top: 0;
}
#menu{
  display: none;
}
ul,
li {
  list-style: none;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 0%;
}

.filtros li a {
  color: aliceblue;
  background-color: #464242;
  text-decoration: none;
  padding: 0.2em;
  display: block;
  border-style: double;
  border-width: 8px;
  border-color: #b09d57;
  font-size: 1rem;
  width: 17.1rem;
  margin-top: 4%;
}

.filtros li a:hover {
  background-color: gray;
  border-radius: 2em;
}
.filtros li a:hover {
background: #316a99;
box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94; 
}


#habilidad_popular, #searchTexto, #button_colection,
#contador {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-style: double;
  padding: 4px 0;
  transition: 0.5s ease-out;
} 
 #habilidad_popular:hover{
  border-bottom: 10px solid rgb(131, 135, 138);
  background: #316a99;
  box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94;
}
#searchTexto:hover{
  border-bottom: 10px solid rgb(131, 135, 138);
  background: #316a99;
box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94; 
}

#button_colection:hover{
  border-bottom: 10px solid rgb(131, 135, 138);
  background: #316a99;
box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94; 
}

.filtros > li:hover {
  border-bottom: 10px solid rgb(131, 135, 138);
  color: #255784;
  background: #316a99;
  box-shadow: 0 0 10px #195d94, 0 0 40px #195d94, 0 0 80px #195d94; 
  
}

.filtros > li {
  float: left;
  background-color: #b09d57;
  width: 20em;
  /* padding-top: 0.5%; */
  height: 2.6em;
  font-size: 20px;
  text-align: center;
  border-style: double;
  border-width: 8px;
  transition: 0.7s ease-out;
  color: #e2eaf5;
  border-right: 8px solid #b09d57;
  border-left: 8px solid #b09d57;
  border-top: 8px solid #464242;
  border-bottom: 8px solid #464242;
}

#searchTexto {
  border-radius: 0;
  margin-left: 7px;
  float: left;
  background-color: #B09D57;
  outline: none;
  width: 15em;
  padding-top: 0.5%;
  height: 2.5em;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  border-style: double;
  border-width: 8px;
  text-align: center;
  color: #464242;
  border-right: 8px solid #b09d57;
  border-left: 8px solid #b09d57;
  border-top: 8px solid #464242;
  border-bottom: 8px solid #464242;
  background-image: url(./assets/iconfinder_Search.png);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 38px 3px;
  padding-left: 35px;
}

#habilidad_popular {
  float: left;
  background-color: #b09d57;
  width: 20em;
  padding-top: 0.5%;
  height: 2.6em;
  font-size: 20px;
  text-align: center;
  border-style: double;
  border-width: 8px;
  transition: 0.7s ease-out;
  color: #e2eaf5;
  border-right: 8px solid #b09d57;
  border-left: 8px solid #b09d57;
  border-top: 8px solid #464242;
  border-bottom: 8px solid #464242;
  display: none;
  animation: signal 1s infinite;
}


@keyframes signal {
  0% {
    box-shadow: 0 0 0 0 #b09d57;
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

.filtros li ul {
  display: none;
  position: absolute;
  /*la lista desplegable es de la misma medida que el botón*/
}

.filtros li:hover > ul {
  display: block;
}

.main {
  height: 100%;
}

#root {
  color: #dfc981;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  padding-left: 6%;
  padding-right: 5%;
}
#newSpace {
 border: 2px solid black;
 background-color: yellowgreen;

}

.nameOfChampion {
  font-size: 20px;
  padding-left: 0.8em;
  background-color: #b09d57;  
  color: white;
  height: 1.5rem;
  width: 95%;
  align-content: center;
  margin-bottom: 60px;
  padding-bottom: 36px;
}

.imageOfChampion {
  width: 95%;
  height: 20em;
  border:2px #b09d57 solid;
  z-index: -1;
}

#root:hover .imageOfChampion {
  transform: perspective(500px) rotateY(30deg);
  z-index: -2;
}
#root .imageOfChampion:hover {
  transform: perspective(250px) rotateY(0deg);
  z-index: -2;
}

.tagsOfChampion {
  font-size: 20px;
  text-align: center;
  background-color: #c59a3e; 
  height: 1.5rem;
  width: 95%;
  align-content: center;
  color: white;
  margin-bottom: 60px;
  margin-top: -40px;
  padding-left: 8em;
}
.imageChampion{
  border-radius: 23px;
  width: 95%;
  height: 14rem;
  border-color: currentColor;
  float: right;
}
.infoChampion {
  color: #ffbf00;
  font-size: larger;
  text-align: center;
  margin-top: 29%;
  margin-right: 30%;
  overflow-wrap: normal;
  font-family: 'Shadows Into Light', cursive;
  height: 3rem;
  align-content: right;
  position: absolute;
}
#returnMain{
  display: none;
}
#graphicChart{
  display: none;
  width: 400px;
  height: 400px;
  margin-left: auto;
  /* background-color: red; */
}
/* #calculationGraph{
  height:400px;
  width:content-box;
} */

canvas{
  height: 500px;
}

/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}
.chartjs-render-monitor{animation:chartjs-render-animation 1ms};

.infoOfChampion{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10%;
  background-color: #b09d57;  /* fallback for old browsers */
  height: 1.5rem;
  width: 95%;
  align-content: center;
  color: white;
  padding-bottom: 1.4em;
  padding-left: 4em;
}

footer {
  border: 2px solid black;
  background-color: rgb(11, 11, 3);
  font-family: "Righteous", cursive;
  /* align-content: absolute; */
}

#play_links {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  text-align-last: end;
  margin: auto;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

#img_Riot {
  width: 50%;
  height: auto;
}

#img_ratings {
  width: 40%;
  height: auto;
}

#final_information {
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 11px;
  color: #7e7e7e;
  line-height: 200%;
}

#gitHub {
  align-items: center;
  width: auto;
  height: 50px;
  background-color: #b09d57;
}

#gitHub > a > img {
  width: 50px;
  height: 50px;
  background-color: #b09d57;
  border: 1px solid #b09d57;
}

#final_conditions > a {
  color: #7e7e7e;
}

#final_conditions > a:hover {
  color: gold;
}


@media only  screen and (max-width: 375px) { 
  #graphicChart{
    display: none;
  }
  #button-welcome {
    margin-left: 1em;
    width: 220px;
    height: 31,2px;
    margin-top: 2px;
    padding-top: 1px;
    margin-bottom: 22px;
  }
  #welcomeGift1 {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top : 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    opacity: 85;
  }
  /*Con min-width, móvil primero y con max-width, de escritorio primero.*/
  #words-Welcome {
    font-size: 20px;
    width: 300px;
    margin-left: 0.5em;
    margin-top: 90px;
    padding-right: 0em;
    text-align: center;
  }
  #img-lol {
    margin-top: 0;
    width: 80%;
    margin-left: 0.8em;
    margin-bottom: 50px;
  }
  
  #img-list{
    width: 340px;
    height: auto;
    margin-bottom: 60px;
    padding-right: 30px;
    margin-left: 0%;
  margin-bottom: 20%;
  margin-top: 15%;
  }
 
  #logo_Lol {
    margin-top: 1em;
    margin-left: 40%;
    margin-bottom: 5px;
    width: 7em;
    justify-content: center;
    padding-bottom: 2em;
    height: auto;
    position: fixed;
  }

#root {
  padding-left: 8%;
}
#contador{
  margin: 0px 0px 0px 8px;
  width: 160px;
  border-radius: 0;
  background: linear-gradient(#5a5f2f, #122230);
  color: #e2eaf5;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-left: transparent;
  border-right: transparent;
}
#button_colection{
  margin: 0px 0px 0px 45px;
  width: 120px;
  border-radius: 0;
  background: linear-gradient(#5a5f2f, #122230);
  color: #e2eaf5;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-right: transparent;
  border-left: transparent;
}
#buttons_colection_champions {
  padding-top: 23%;
  height: 30%;
  width: 100%;
  padding-left: 5% ;
  padding-bottom: 20px;
  justify-content: end;
  font-size: 0.7em;
  position: fixed;
  background: linear-gradient(#122230,#5a5f2f ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.filtros {
  flex-wrap: inherit;
  justify-content: center;
  position: fixed;
  margin-top: 23%;
}

.filtros > li {
  background: linear-gradient(#5a5f2f, #122230);
  width: 110px;
  border-radius: 0;
  font-size: 0.9em;
  color: #e2eaf5;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-left: 0;
  border-right: transparent;
  margin-top: 50px;
  margin-left: 21px;
}
#role{
  width: 110px;
} 
#order{
  margin-left: -5px;
  width: 110px;
}

#searchTexto {
  width: 8px;
  margin-left: 20px;
  margin-right: -210px;
  font-size: 0.9em;
  background: linear-gradient(#5a5f2f, #122230);
  color:#122230;
  border-bottom: 2px solid #b09d57;
  border-top: 2px solid #b09d57;
  border-right: transparent;
  border-left: transparent;
  background-image: url(./assets/iconfinder_Search.png);
  background-size: 23px;
  background-repeat: no-repeat;
  padding-left: 35px;
}
#searchTexto:focus{
  background-color: rgb(227, 240, 240);
  width: 190px;
}

#detail_diamont_Riot {
  width: 100%;
  height: 2em; 
  padding-right: 80px;
  margin-top: 40%;
}
#habilidad_popular {
  font-size: 0.92em;
  padding-top: 2%;
  border-radius: 0;
  border-style: double;
  border-width: 8px;
  border-color: #282626;
  border-top:2px solid #b09d57;
  border-bottom:2px solid #b09d57;
  border-left: transparent;
  border-right: transparent;
  padding-right: 8px;
  margin-right: 30px;
  

  float: left;
  background: linear-gradient(#5a5f2f, #122230);
  height: 2.5em;

  text-align: center;
  width: 120px;
    color: #e2eaf5;
    margin-top: 50px;
}


#gitHub {
  width: auto;
  height: 30px;
}

#gitHub > a > img {
  width: 50px;
  height: 30px;
}
#final_information {
  font-size: 9px;
  color: #7e7e7e;
  line-height: 200%;
}

.detail_diamont_Riot {
  width: 100%;
  height: 25px;
padding-right: 30px;
}
#play_links {
padding-top: 0;
padding-left: 3%;
}
footer{
  background: linear-gradient(#5a5f2f, #122230);
  border: 0;
  padding-top: 8px;
}
.filtros li a {
  font-size: 0.7rem;
  width: 8rem;
}
#habilidad_popular a{
  font-size: 0.7rem;
  width: 7rem;
  float: right;
}
.imageOfChampion {
  height: 17em;
}

}

